html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #ff0000;
}

header {
    background-color: #7500ff;
    width: 100%;
    height: 10vh;
}

aside {
    display: inline-block;
    background-color: #009300;
    width: 24.9%;
    height: 80vh;
}

main {
    display: inline-block;
    background-color: #ff0000;
    width: 74.5%;
    height: 80vh;
}

footer {
    background-color: #8c0083;
    width: 100%;
    height: 10vh;
}