body {
    margin: 0;
    padding: 0;
    color: white;
    text-align: left;
    font-size: 25px;
}

header {
    background-color: rgb(94, 94, 173);
    height: 18vh;
}


main {
    background-color: red;
    height: 70vh;
    width: 80%;
    float: right;
}

aside {
    background-color: green;
    height: 70vh;
    width: 20%;
}

footer {
    background-color: rgb(177, 58, 177);
    height: 12vh;
}