* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

header {
    background: blue;
    height: 10vh;
}


main {
    background-color: red;
    width: 100vw;
    height: 80vh;
}

aside {
    background-color: green;
    float: left;
    height: 80vh;
    width: 20vw;
}

footer {
    background-color: purple;
    height: 10vh;
}